$customGreen: #2cc56c;
$greenShadow: 1px 1px 20px $customGreen;
$customRed: #d14a41;
$redShadow: 1px 1px 20px $customRed;

body {
  background-color: #2b3c4d;
}

.btn_increase, .btn_decrease {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  margin: 10px;
  height: 100px;
  width: 250px;
}

.btn_increase {
  color: #2b3c4d;
  border: $customGreen 2px solid;
  background-color: $customGreen;
  font-size: 25px;
  &:hover{
    transition: 0.5s;
    box-shadow: $greenShadow;
    text-shadow: $greenShadow;
  }
}

.btn_decrease {
  color: #2b3c4d;
  border: $customRed 2px solid;
  background-color: $customRed;
  font-size: 25px;
  &:hover{
    transition: 1s;
    box-shadow: $redShadow;
    text-shadow: $redShadow;
  }
}

.result {
  position: absolute;
  min-width: 45px;
  height: 60px;
  left: 230px;
  top: 110px;
  font-size: 30px;
  color: #2b3c4d;
  background-color: #f78b01;
  border: #f78b01 2px solid;
  padding: 25px 0px 0px 30px;
  border-radius: 20px;
}