$base-color: #fcfcfc;

* {
font-size: 15px;
}

body {
  // background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='$fg-color'/></svg>");
  // background-image: url(/images/image.svg);
}

.jumbotron{
  font-size: 100px;
  text-align: center;
  margin: 0px;
  color: #ead3d5;
}
.inputField {
  border: 1px solid black;
  display: flex;
  box-shadow: 0px 15px 24px 5px rgba(34, 60, 80, 0.28);
}

.toDoList {
  background-color: $base-color;
  box-shadow: 0px 15px 24px 5px rgba(34, 60, 80, 0.28);
}

.todoApp {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.input, button {
  height: 40px;
  border: none;
  background-color: $base-color;
  outline: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.input {
  width: calc(100% - 40px);
  font-style: oblique;
  font-size: 20px;
  &::placeholder{
    color: rgba(0,0,0, 0.5);
  }
}

.setAll {
  width: 40px;
  padding: 0px;
  transform: rotate(90deg);
  font-size: 18px;
  padding-left: 7px;
}

input[type="checkbox"] {
  margin: 0px 10px 0px 7px;
  width: 10px;
  height: 10px;
}

input[type="checkbox"]:before {
  position: relative;
  display: block;
  border-radius: 20px;
  width: 20px;
  left: -5px;
  height: 20px;
  top: -8px;
  border: 1px solid black;
  content: "";
  background: $base-color;
}


// input[type="checkbox"]:after {
//   position: relative;
//   display: block;
//   border-radius: 200px;
//   left: 2px;
//   top: -21px;
//   width: 7px;
//   height: 7px;
//   border-width: 1px;
//   border-color: $base-color;
//   content: "";
//   background-repeat: no-repeat;
//   background-position: center;
// }

input[type="checkbox"]:checked::before {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='$fg-color'/></svg>");
  border-radius: 200px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: bottom;
  transform: rotate(270deg);
  background-size: 70%;
  border: #79da19 1px solid;
}

span {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 20px;
  padding-left: 5px;
  width: 441px;
}

.todoItem {
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 5px 0px 5px 5px;
}

.deleteSpec {
  height: 20px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: red;
  position: relative;
  right: 0px;
  background-color: rgba(184,49,49, 0);
  font-size: 25px;
  padding: 0px;
}

.left {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 20px;
  padding-left: 5px;
  width: 241px;
  margin: 10px 10px 0px 0px;
}

.buttonsContainer {
  display: flex;
}